body {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #274046,
    #e6dada
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e6dada,
    #274046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #000;
}
h1 {
  text-shadow: 2px 3px 0px #7d88c4;
}
p {
  margin: 0;
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}


/*ProgressTodo*/
.progress{
  transition: 1s .55s ease-out;
}